<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<!---css--->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!---css--->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---js--->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<!---js--->
<link href="css/styles.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/component.css" />
<!--web-fonts-->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Josefin+Sans:400,700italic,700,600italic,600,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--JS for animate-->
	<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
	<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
		</script>
	<!--//end-animate-->


</head>
<body>
	<div class="header head">
		<div class="container">
			<div class="heder-top">
				<div class="logo wow fadeInDownBig animated animated" data-wow-delay="0.4s">
					<h1><a href="home.html">Interior Plus</a></h1>
				</div>
				<div class="nav-icon">		
					<a href="#" class="navicon"></a>
						<div class="toggle">
							<ul class="toggle-menu">
								<li><a  href="home.html">Home</a></li>
								<li><a class="active"  href="about.html">About</a></li>
								<li><a  href="services.html">Services</a></li>
								<li><a  href="gallery.html">Gallery</a></li>
								<li><a  href="codes.html">Codes</a></li>
								<li><a  href="contact.html">Contact</a></li>
							</ul>
						</div>
					<script>
					$('.navicon').on('click', function (e) {
					  e.preventDefault();
					  $(this).toggleClass('navicon--active');
					  $('.toggle').toggleClass('toggle--active');
					});
					</script>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!---header--->
		<div class="content">
		<!---about--->
			<div class="about-section">
				<div class="container">
					<h2>About us</h2>
					<div class="about-grids wow fadeInRight animated animated" data-wow-delay="0.4s">
						<div class="col-md-8 about-grid">
							<img src="images/a1.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-4 about-grid1 wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<img src="images/a2.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="about-at wow fadeInRight animated animated" data-wow-delay="0.4s">
						<h4> Nam libero tempore, cum soluta nobis est eligendi</h4>
						<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.
						But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
					</div>
				</div>
			</div>
			<!---about--->
			<!---team--->
			<div class="team-section">
				<div class="container">
					<h3> Our Team Members</h3>
					<div class="team-grids">
						<div class="col-md-4 team-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<div class="ih-item circle effect1"><a href="#">
								<div class="spinner"></div>
								<div class="img"><img src="images/t1.jpg" alt="img"></div>
								<div class="info">
								  <div class="info-back">
									<h4>Victoria</h4>
									<span>Description goes here</span>
								  </div>
								</div></a>
							</div>
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
							<div class="social-icons">
								<a href="#"><i class="icon"></i></a>
								<a href="#"><i class="icon1"></i></a>
								<a href="#"><i class="icon2"></i></a>
								<a href="#"><i class="icon3"></i></a>
							</div>
						</div>
						<div class="col-md-4 team-grid wow fadeInDownBig animated animated" data-wow-delay="0.4s">
							<div class="ih-item circle effect1"><a href="#">
								<div class="spinner"></div>
									<div class="img"><img src="images/t2.jpg" alt="img"></div>
								<div class="info">
									<div class="info-back">
										<h4>Tincidun</h4>
										<span>Description goes here</span>
								  </div>
								</div></a>
							</div>
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
							<div class="social-icons">
								<a href="#"><i class="icon"></i></a>
								<a href="#"><i class="icon1"></i></a>
								<a href="#"><i class="icon2"></i></a>
								<a href="#"><i class="icon3"></i></a>
							</div>
						</div>
						<div class="col-md-4 team-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
							<div class="ih-item circle effect1"><a href="#">
								<div class="spinner"></div>
									<div class="img"><img src="images/t3.jpg" alt="img"></div>
								<div class="info">
									<div class="info-back">
										<h4>Posuere</h4>
										<span>Description goes here</span>
								  </div>
								</div></a>
							</div>
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
							<div class="social-icons">
								<a href="#"><i class="icon"></i></a>
								<a href="#"><i class="icon1"></i></a>
								<a href="#"><i class="icon2"></i></a>
								<a href="#"><i class="icon3"></i></a>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!---team--->
			<!---Furniture Design--->
			<div class="furniture">
				<div class="container">
					<div class="furniture-grids">
						<div class="col-md-4 furniture-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
							<h3>Who we are</h3>
							<div class="tab1">
								<ul class="place">
									<li><img src="images/cir.png" alt=""></li>
									<li>Placerat ligula tincidunt</li>
								</ul>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
							</div>
							<div class="tab2">
								<ul class="place">
									<li><img src="images/cir.png" alt=""></li>
									<li>Sed ut perspiciatis unde</li>
								</ul>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
							</div>
							<div class="tab3">
								<ul class="place">
									<li><img src="images/cir.png" alt=""></li>
									<li>Eaque ipsa quae ab illo </li>
								</ul>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
							</div>
							
							<div class="tab4">
								<ul class="place">
									<li><img src="images/cir.png" alt=""></li>
									<li>Eaque ipsa quae ab illo </li>
								</ul>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
							</div>
							
							
							<!--script-->
							<script>
								$(document).ready(function(){
									$(".tab1 p").hide();
									$(".tab2 p").hide();
									$(".tab3 p").hide();
									$(".tab4 p").hide();
									$(".tab1 ul").click(function(){
										$(".tab1 p").slideToggle(300);
										$(".tab2 p").hide();
										$(".tab3 p").hide();
										$(".tab4 p").hide();
									})
									$(".tab2 ul").click(function(){
										$(".tab2 p").slideToggle(300);
										$(".tab1 p").hide();
										$(".tab3 p").hide();
										$(".tab4 p").hide();
									})
									$(".tab3 ul").click(function(){
										$(".tab3 p").slideToggle(300);
										$(".tab4 p").hide();
										$(".tab2 p").hide();
										$(".tab1 p").hide();
									})
									$(".tab4 ul").click(function(){
										$(".tab4 p").slideToggle(300);
										$(".tab3 p").hide();
										$(".tab2 p").hide();
										$(".tab1 p").hide();
									})	
								});
							</script>
						<!-- script -->
						</div>
						<div class="col-md-8 furniture-grid1 wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<h3>Furniture Design</h3>
							<div class="fur-img">
								<img src="images/f1.jpg" class="img-responsive" alt=""/>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<!---Standards--->
		</div>
		<div class="footer-section wow fadeInDownBig animated animated" data-wow-delay="0.4s">
			<div class="container">
				<div class="social-icons">
					<a href="#"><i class="icon"></i></a>
					<a href="#"><i class="icon1"></i></a>
					<a href="#"><i class="icon2"></i></a>
					<a href="#"><i class="icon3"></i></a>
				</div>
				<div class="copy">
					<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			</div>
		</div>

</body>
</html>