<!DOCTYPE HTML>
<html>
<head>
<title>Contact</title>
<!---css--->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!---css--->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---js--->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<!---js--->
<link href="css/styles.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/component.css" />
<!--web-fonts-->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Josefin+Sans:400,700italic,700,600italic,600,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--JS for animate-->
	<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
	<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
		</script>
	<!--//end-animate-->

</head>
<body>
	<div class="header head">
		<div class="container">
			<div class="heder-top">
				<div class="logo">
					<h1><a href="home.html">Interior Plus</a></h1>
				</div>
				<div class="nav-icon">		
					<a href="#" class="navicon"></a>
						<div class="toggle">
							<ul class="toggle-menu">
								<li><a href="home.html">Home</a></li>
								<li><a  href="about.html">About</a></li>
								<li><a  href="services.html">Services</a></li>
								<li><a  href="gallery.html">Gallery</a></li>
								<li><a  href="codes.html">Codes</a></li>
								<li><a class="active" href="contact.html">Contact</a></li>
							</ul>
						</div>
					<script>
					$('.navicon').on('click', function (e) {
					  e.preventDefault();
					  $(this).toggleClass('navicon--active');
					  $('.toggle').toggleClass('toggle--active');
					});
					</script>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--header--->
		<div class="content">
			<div class="contact">
				<div class="container">
					<h2>Contact</h2>
					<div class="contact-grids">
						<div class="col-md-6 contact-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<h4>Your Message</h4>
							<span>Lorem Ipsum is inting and typesetting in simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the is dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
							<form>
								<label>Name</label>
								<input type="text" placeholder="Your name" required>
								<div class="row">
									<div class="col-md-6 row-grid">
									<label>Email</label>
									<input type="text" placeholder="Email address" required>
									</div>
										<div class="col-md-6 row-grid">
										<label>Phone</label>
									<input type="text" placeholder="Phone number" required>
									</div>
									<div class="clearfix"></div>
								</div>
								<label>Subject</label>
								<input type="text" placeholder="Subject" required>
								<div class="row1">
								<label>Message</label>
								<textarea placeholder="Message"></textarea>
								</div>
								<input type="submit" value="Send message">
							</form>
						</div>
						<div class="col-md-6 contact-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
							<div class="col-md-6 contact-left">
								<h4> Address</h4>
								<div class="cont-info">
									<h5>Address</h5>
									<p>9th Street, Carl View - uk</p>
									<h5>Email</h5>
									<a href="mailto:example@mail.com"> example@mail.com</a>
									<h5>Phone</h5>
									<p> 0041-456-3692</p>
								</div>
							</div>
							<div class="col-md-6 contact-right">
								<h4>Timings</h4>
								<div class="cont-info">
									<h5>Monday - Friday</h5>
									<p>09:00 AM - 7:30 PM</p>
									<h5>Saturday</h5>
									<p>09:00 AM - 1:30 PM</p>
									<h5>Sunday</h5>
									<p>Closed</p>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="contact-bottom">
								<h4>Get connected</h4>
								<p>Lorem Ipsum is inting and typesetting in simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the is dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="google-map wow fadeInDownBig animated animated" data-wow-delay="0.4s">
					<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d73186.60666218921!2d-1.7167095606544744!3d55.02426474632968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sinterior+design+near+Stanley+Street%2C+Newcastle+upon+Tyne%2C+UK!5e0!3m2!1sen!2sin!4v1457526886002"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-section wow fadeInDownBig animated animated" data-wow-delay="0.4s">
			<div class="container">
				<div class="social-icons">
					<a href="#"><i class="icon"></i></a>
					<a href="#"><i class="icon1"></i></a>
					<a href="#"><i class="icon2"></i></a>
					<a href="#"><i class="icon3"></i></a>
				</div>
				<div class="copy">
					<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			</div>
		</div>

</body>
</html>