<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<!---css--->
<link href="assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
<!---css--->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---js--->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<!---js--->
<link href="assets/css/styles.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="assets/css/component.css" />
<!--web-fonts-->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Josefin+Sans:400,700italic,700,600italic,600,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<script type="text/javascript" src="assets/js/numscroller-1.0.js"></script>
<!--JS for animate-->
	<link href="assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
	<script src="assets/js/wow.min.js"></script>
		<script>
			new WOW().init();
		</script>
	<!--//end-animate-->

</head>
<body>
	<div class="header">
		<div class="container">
			<div class="heder-top">
				<div class="logo wow fadeInDownBig animated animated" data-wow-delay="0.4s">
					<h1><a href="home.html">Interior Plus</a></h1>
				</div>
				<div class="nav-icon">		
					<a href="#" class="navicon"></a>
						<div class="toggle">
							<ul class="toggle-menu">
								<li><a class="active" href="home.html">Home</a></li>
								<li><a  href="about.html">About</a></li>
								<li><a  href="services.html">Services</a></li>
								<li><a  href="gallery.html">Gallery</a></li>
								<li><a  href="codes.html">Codes</a></li>
								<li><a  href="contact.html">Contact</a></li>
							</ul>
						</div>
					<script>
					$('.navicon').on('click', function (e) {
					  e.preventDefault();
					  $(this).toggleClass('navicon--active');
					  $('.toggle').toggleClass('toggle--active');
					});
					</script>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="banner-text wow fadeInLeft animated animated" data-wow-delay="0.4s">
				<h3>We are a Creative Interior Design Studio</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit consectetur adipiscing elit Mauris</p>
			</div>
		</div>
	</div>
	<!--header--->
		<div class="content">
			<div class="welcome-section">
				<div class="container">
					<h2> Welcome </h2>
					<span>Our company offers you the best design solutions to make your home interior unique and stylish</span>
					<div class="welcome-grids">
						<div class="col-md-4 wel-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
								<img src="images/w1.jpg" class="img-responsive" alt=""/>
							<div class="wel-text hvr-shutter-out-horizontal">
								<h4>Residential Design</h4>
								<p>Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses nullader yoleac enanrit ma deuytas.</p>
							</div>
						</div>
						<div class="col-md-4 wel-grid wow fadeInDownBig animated animated" data-wow-delay="0.4s">
							<div class="wel-text hvr-shutter-out-horizontal wel1">
								<h4>Office Design</h4>
								<p>Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses nullader yoleac enanrit ma deuytas.</p>
							</div>
							<img src="images/w2.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-4 wel-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
						<img src="images/w3.jpg" class="img-responsive" alt=""/>
							<div class="wel-text hvr-shutter-out-horizontal">
								<h4>Residential Design</h4>
								<p>Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses nullader yoleac enanrit ma deuytas.</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="services wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<div class="col-md-4 services-grids">
					<div class="flip-effect right">
						<div class="text-box">
							<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
							<h5>Congue scelerisque sit </h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Mauris ex nulla aliquam ornare facilisis nec </p>
						</div>
						<div class="info-box">
							<div class="info-content">
									<img src="images/p.jpg" class="img-responsive" alt=""/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
					<div class="flip-effect right">
						<div class="text-box">
							<i class="glyphicon glyphicon-bell" aria-hidden="true"></i>
							<h5>Scelerisque sitc ongue  </h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Mauris ex nulla aliquam ornare facilisis nec </p>
						</div>
						<div class="info-box">
							<div class="info-content">
									<img src="images/p1.jpg" class="img-responsive" alt=""/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
					<div class="flip-effect right">
						<div class="text-box">
							<i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>
							<h5>Guecon scelerisque sit </h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Mauris ex nulla aliquam ornare facilisis nec </p>
						</div>
						<div class="info-box">
							<div class="info-content">
									<img src="images/p2.jpg" class="img-responsive" alt=""/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
					<div class="flip-effect right">
						<div class="text-box">
							<i class="glyphicon glyphicon-home" aria-hidden="true"></i>
							<h5>Risquescele congue sit </h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Mauris ex nulla aliquam ornare facilisis nec </p>
						</div>
						<div class="info-box">
							<div class="info-content">
									<img src="images/p3.jpg" class="img-responsive" alt=""/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
					<div class="flip-effect right">
						<div class="text-box">
							<i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
							<h5>Blanditiis iure minima</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Mauris ex nulla aliquam ornare facilisis nec </p>
						</div>
						<div class="info-box">
							<div class="info-content">
									<img src="images/p4.jpg" class="img-responsive" alt=""/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
					<div class="flip-effect right">
						<div class="text-box">
							<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
							<h5>Nulla aliquam ornare</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Mauris ex nulla aliquam ornare facilisis nec </p>
						</div>
						<div class="info-box">
							<div class="info-content">
									<img src="images/p5.jpg" class="img-responsive" alt=""/>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="capabilities">
				<div class="container">
					<h3>Interiors Capabilities</h3>
					<div class="capabil-grids">
						<div class="col-md-3 capabil-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<div class="cap">
								<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='57000' data-delay='.5' data-increment="100">57000</div>
							</div>
							<h5>Happy Clients</h5>
						</div>
						<div class="col-md-3 capabil-grid wow fadeInUpBig animated animated" data-wow-delay="0.4s">
							<div class="cap">
								<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1700' data-delay='.5' data-increment="5">1700</div>
							</div>
							<h5>Modern design</h5>
						</div>
						<div class="col-md-3 capabil-grid wow fadeInDownBig animated animated" data-wow-delay="0.4s">
							<div class="cap">
								<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='90000' data-delay='.5' data-increment="100">90000</div>
							</div>
							<h5>Followers</h5>
						</div>
						<div class="col-md-3 capabil-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
							<div class="cap">
								<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='250' data-delay='.5' data-increment="1">250</div>
							</div>
							<h5>Awards</h5>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="testimonial">
				<div class="container">
					<div class="testimonial-grids">
						<div class="col-md-4 testimonial-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<h3>Testimonial</h3>
							<div class="testimonial-info">
								<p><span>"</span> Quisque varius, nibh ac feugiat interdum, libero massa laoreet tellus, nec congue lorem arcu a nunc. Praesent quis felis eget</p>
								<h5>William Patrick.</h5>
							</div>
							<div class="testimonial-info">
								<p><span>" </span> Vestibulum et consequat justo. Maecenas ultrices malesuada leo porta venenatis. Sed sit amet diam facilisis, interdum tellus nec</p>
								<h5>Frederic Victoria</h5>
							</div>
							<div class="testimonial-info">
								<p><span>" </span> Cras elementum sed mi sit amet ullamcorper. Cras sed felis a enim rutrum lobortis a eu nisi. Curabitur justo libero, hendrerit at</p>
								<h5>Kimberly Thompson</h5>
							</div>
						</div>
							<div class="col-md-8 testimonial-grid-right wow fadeInRight animated animated" data-wow-delay="0.4s">
							<h3>Latest Works</h3>
								<div class="works-grids">
								<div class="col-md-4 works-grid">
									<img src="images/e1.jpg" class="img-responsive" alt=""/>
								<p>Quisque varius, nibh ac feugiat interdum, libero massa laoreet tellus, nec congue lorem arcu a nunc. Praesent quis felis eget.</p>
								</div>
								<div class="col-md-4 works-grid">
									<img src="images/e2.jpg" class="img-responsive" alt=""/>
								<p>Quisque varius, nibh ac feugiat interdum, libero massa laoreet tellus, nec congue lorem arcu a nunc. Praesent quis felis eget.</p>
								</div>
								<div class="col-md-4 works-grid">
									<img src="images/e3.jpg" class="img-responsive" alt=""/>
								<p>Quisque varius, nibh ac feugiat interdum, libero massa laoreet tellus, nec congue lorem arcu a nunc. Praesent quis felis eget.</p>
								</div>
									<div class="clearfix"></div>
								</div>
							</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-section wow fadeInDownBig animated animated" data-wow-delay="0.4s">
			<div class="container">
				<div class="social-icons">
					<a href="#"><i class="icon"></i></a>
					<a href="#"><i class="icon1"></i></a>
					<a href="#"><i class="icon2"></i></a>
					<a href="#"><i class="icon3"></i></a>
				</div>
				<div class="copy">
					<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			</div>
		</div>

</body>
</html>