<!DOCTYPE HTML>
<html>
<head>
<title>Services</title>
<!---css--->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!---css--->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---js--->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<!---js--->
<link href="css/styles.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/component.css" />
<!--web-fonts-->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Josefin+Sans:400,700italic,700,600italic,600,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--JS for animate-->
	<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
	<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
		</script>
	<!--//end-animate-->

</head>
<body>
	<div class="header head">
		<div class="container">
			<div class="heder-top">
				<div class="logo wow fadeInDownBig animated animated" data-wow-delay="0.4s">
					<h1><a href="home.html">Interior Plus</a></h1>
				</div>
				<div class="nav-icon">		
					<a href="#" class="navicon"></a>
						<div class="toggle">
							<ul class="toggle-menu">
								<li><a href="home.html">Home</a></li>
								<li><a  href="about.html">About</a></li>
								<li><a class="active"  href="services.html">Services</a></li>
								<li><a  href="gallery.html">Gallery</a></li>
								<li><a  href="codes.html">Codes</a></li>
								<li><a  href="contact.html">Contact</a></li>
							</ul>
						</div>
					<script>
					$('.navicon').on('click', function (e) {
					  e.preventDefault();
					  $(this).toggleClass('navicon--active');
					  $('.toggle').toggleClass('toggle--active');
					});
					</script>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--header--->
		<div class="content">
			<div class="service-section">
				<div class="container">
					<h2>Services</h2>
					<div class="service-grids">
						<div class="col-md-6 serce-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<div class="service-img">
								<img src="images/s1.jpg" class="img-responsive wid" alt=""/>
							</div>
						</div>
						<div class="col-md-6 serce-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
							<div class="service-top">
								<div class="col-md-6 service-left">
									<div class="service-img">
										<img src="images/s2.jpg" class="img-responsive wid" alt=""/>
									</div>
									<h5>adipiscing elit</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim, at accumsan metus viverra.</p>
								</div>
								<div class="col-md-6 service-right">
									<div class="service-img">
										<img src="images/s3.jpg" class="img-responsive wid" alt=""/>
									</div>
									<h5>Donec  magna</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim, at accumsan metus viverra.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="service-top1">
								<div class="col-md-6 service-left">
									<div class="service-img">
										<img src="images/s4.jpg" class="img-responsive wid" alt=""/>
									</div>
									<h5>adipiscing elit</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim, at accumsan metus viverra.</p>
								</div>
								<div class="col-md-6 service-right">
									<div class="service-img">
										<img src="images/s5.jpg" class="img-responsive wid" alt=""/>
									</div>
									<h5>Donec  magna</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim, at accumsan metus viverra.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="service-grids">
						<div class="col-md-6 serce-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<div class="service-top">
								<div class="col-md-6 service-left">
									<div class="service-img">
										<img src="images/s6.jpg" class="img-responsive wid" alt=""/>
									</div>
									<h5>adipiscing elit</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim, at accumsan metus viverra.</p>
								</div>
								<div class="col-md-6 service-right">
									<div class="service-img">
										<img src="images/s7.jpg" class="img-responsive wid" alt=""/>
									</div>
									<h5>Donec  magna</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim, at accumsan metus viverra.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="service-top1">
								<div class="col-md-6 service-left">
									<div class="service-img">
										<img src="images/s8.jpg" class="img-responsive wid" alt=""/>
									</div>
									<h5>adipiscing elit</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim, at accumsan metus viverra.</p>
								</div>
								<div class="col-md-6 service-right">
									<div class="service-img">
										<img src="images/s9.jpg" class="img-responsive wid" alt=""/>
									</div>
									<h5>Donec  magna</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim, at accumsan metus viverra.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-6 serce-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
							<div class="service-img">
								<img src="images/s10.jpg" class="img-responsive wid" alt=""/>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="choose-section">
				<div class="container">
					<h3>why choose us</h3>
					<div class="choose-grids">
						<div class="col-md-3 choose-gd wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<div class="icon hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
								<a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-user"></a>
							</div>
							<h4>Accusantium</h4>
							<p>Quisque varius, nibh ac feugiat interdum, libero massa laoreet tellus, nec congue lorem arcu a nunc.</p>
						</div>
						<div class="col-md-3 choose-gd wow fadeInDownBig animated animated" data-wow-delay="0.4s">
							<div class="icon hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
								<a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-book"></a>
							</div>
							<h4>Lorem ipsum</h4>
							<p>Quisque varius, nibh ac feugiat interdum, libero massa laoreet tellus, nec congue lorem arcu a nunc.</p>
						</div>
						<div class="col-md-3 choose-gd wow fadeInUpBig animated animated" data-wow-delay="0.4s">
							<div class="icon hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
								<a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-asterisk"></a>
							</div>
							<h4>adipiscing elit</h4>
							<p>Quisque varius, nibh ac feugiat interdum, libero massa laoreet tellus, nec congue lorem arcu a nunc.</p>
						</div>
						<div class="col-md-3 choose-gd wow fadeInRight animated animated" data-wow-delay="0.4s">
							<div class="icon hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
								<a href="#" class="hi-icon hi-icon-mobile glyphicon glyphicon-zoom-in"></a>
							</div>
							<h4>Accusantium</h4>
							<p>Quisque varius, nibh ac feugiat interdum, libero massa laoreet tellus, nec congue lorem arcu a nunc.</p>
						</div>
						<div class="clearfix"></div>		
					</div>
				</div>
			</div>

		</div>
		<div class="footer-section wow fadeInDownBig animated animated" data-wow-delay="0.4s">
			<div class="container">
				<div class="social-icons">
					<a href="#"><i class="icon"></i></a>
					<a href="#"><i class="icon1"></i></a>
					<a href="#"><i class="icon2"></i></a>
					<a href="#"><i class="icon3"></i></a>
				</div>
				<div class="copy">
					<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			</div>
		</div>

</body>
</html>